!!! 5
/ [if lt IE 7] <html class="no-js ie6 oldie" lang="en"> 
/ [if IE 7] <html class="no-js ie7 oldie" lang="en">
/ [if IE 8] <html class="no-js ie8 oldie" lang="en">
/ [if gt IE 8] <!--> <html class="no-js" lang="en" ng-app='youserApp'> <!--
%head
  %meta{'charset' => 'utf-8'}/
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1'}/

  %title= @title
  %meta{'name' => 'description', 'content' => ''}/
  %meta{'name' => 'author', 'content' => ''}/
  %meta{'name' => 'viewport', 'content' => 'width=device-width,initial-scale=1'}/

  / CSS concatenated and minified via ant build script
  %link{'rel' => 'stylesheet', 'href' => '/css/bootstrap.min.css'}/
  %link{'rel' => 'stylesheet', 'href' => '/css/bootstrap-theme.min.css'}/
  %link{'rel' => 'stylesheet', 'href' => '/css/cedstyles.css'}/
  / end CSS

  %script{'src' => '/js/libs/jquery-2.1.1.min.js'}
  %script{'src' => '/js/libs/modernizr-2.0.6.min.js'}
  %script{'src' => '/js/libs/bootstrap.min.js'}
  %script{'src' => '/js/json2-min.js'}
  %script{'src' => '/js/respond.min.js'}
  %script{'src' => 'js/libs/angular.min.js'}
  %script{'src' => '/js/libs/angular-resource.min.js'}
  %script{'src' => '/js/libs/angular-route.min.js'}
  %script{'src' => '/js/libs/lodash.js'}
  %script{'src' => '/js/libs/restangular.min.js'}
%body{'ng-app' => 'youserApp'}

  /Navbar
  %header.navbar.navbar-static-top.bs-docs-nav{'role'=>'banner'}
    %nav.navbar.navbar-inverse{'role'=>'navigation'}
      %div.container-fluid
        %div.navbar-header
          %button.navbar-toggle{'data-toggle'=>'collapse', 'data-target'=>'#bs-top-navbar'}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{'href'=>'/'}= @app_name

        %div#bs-top-navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
          %ul.nav.navbar-nav.navbar-right
            - if @user
              %p.navbar-text.navbar-right Signed in as #{@user.firstname} #{@user.lastname}
              %li
                %a{:href => '/logout'} Logout
            - else
              %form.navbar-form.navbar-right{'role'=>'login',:action=>'/login',:method=>'post'}
                %div.form-group
                  %input.form-control{:placeholder=>'Email',:type=>'text',:name=>'email'}
                  %input.form-control{:placeholder=>'Password',:type=>'password',:name=>'password'}
                %button.btn.btn-primary{:type=>'submit'} Login

  /end Navbar

  %div#main.container{'role' => 'main'}
    = yield
  %footer

  %script{'src' => '/js/app/youser.js'}
  %script{'src' => '/js/app/factories/factories.js'}
  %script{'src' => '/js/app/controllers/controllers.js'}
  %script{'src' => '//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'}
  %script
    window.jQuery || document.write('<script src="js/libs/jquery-2.1.1.min.js"><\/script>')
  / end scripts

  / Change UA-XXXXX-X to be your site's ID
  %script
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'});

  / [if lt IE 7 ]
    %script{'src' => '//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js'}
    %script
      window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
</html>